

body {
			font-size: 15px;
			color: #343d44;
			font-family: "segoe-ui", "open-sans", tahoma, arial, serif;
			padding: 0;
			margin: 0;
		}

		.div2 {
			margin-left: 35%!important;
		}
		.div3 {
			margin-left: 65%!important;
		}
		.checkdiv {
			text-align: center;
		}
		.logo {
			margin-right: 10px!important;
		}
/*DESDE AQUI ES LA RAYITA PARA CADA TITULO*/
		.titulo1 h1, .titulo2 h1, .titulo3 h1 {
			display: center;
			position: relative;;
		}
		.titulo1 h1::after,.titulo1 h1::before,.titulo2 h1::after,.titulo2 h1::before,.titulo3 h1::after,.titulo3 h1::before {
			content:'';
			position: absolute;
			width: 120px;
			height: 3px;
			background-color: currentColor;
			top: 0.5em;
		}
		.titulo1 h1::before{
			left: 260px;
		}
		.titulo1 h1::after{
			right: 260px;
		}
		.titulo2 h1::before{
			left: 220px;
		}
		.titulo2 h1::after{
			right: 220px;
		}
		.titulo3 h1::before{
			left: 190px;
		}
		.titulo3 h1::after{
			right: 190px;
		}
		/*TERMINA AQUI LA RAYITA PARA CADA TITULO*/
		.a1,.a2,.a3{display:none;}
		.btn-group{
			margin-left: 15px!important;
			margin-bottom: 95px!important;
		}
		.divmostrar{
			display: none;
		}
		.form-group {
    margin-bottom: 15px!important;
		}
		div{
    margin: 10px auto 0!important;
		}
		.btntable {
			margin-bottom: 20px!important;
		}
		.btnsolicitud {
			margin-bottom: -60px!important;
		}
		.tablenombre {
		 border-collapse: collapse;
		 width: 100%;
		}
		.tablenombre tr {
		 background-color: #d9edf7;
		}
		.tablenombre {
		 border-collapse: collapse;
		 width: 100%;
		}

		.tablenombre th {
		 text-align: left !important;
		 background:#00BFFF !important;
		 padding: 10px!important;
		 padding-bottom: auto;
		}

		.input-lg {
			font-size: 16px!important;
		}

		.ini a  {
			margin-left:;
			border-radius:5px;
			border: #00BFFF 3px solid;
			padding: 2px;

		}
		table {
			margin: auto;
			/*font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";*/
			font-size: 12px;
		}
		h1,h4 {
			margin: 25px auto 0;
			text-align: center;
			text-transform: uppercase;
			font-size: 20px;

		}
		h4{
			font-weight: bold!important;
		}
		div {
			margin: 25px auto 0;
			text-transform: uppercase;
			font-size: 17px;
		}
		div .formu{
			text-align: center;
		}


		table td {
			transition: all .5s;
		}

		/* Table */
		.tabla_datos {
			border-collapse: collapse;
			font-size: 14px;
			min-width: 537px;
		}

		.tabla_datos th,
		.tabla_datos td {
			border: 1px solid #e1edff;
			padding: 7px 17px;
		}
		.tabla_datos caption {
			margin: 7px;
		}

		/* Table Header */
		#titulo {
			background-color: #508abb;
			color: #FFFFFF;
			border-color: #6ea1cc !important;
			text-transform: uppercase;
		}

		/* Table Body */
		.tabla_datos tbody td {
			color: #353535;
		}
		.tabla_datos tbody td:first-child,
		.tabla_datos tbody td:nth-child(4),
		.tabla_datos tbody td:last-child {
			text-align: center;
		}

		.tabla_datos tbody tr:nth-child(odd) td {
			background-color: #f4fbff;
		}
		.tabla_datos tbody tr:hover td {
			background-color: #ffffa2;
			border-color: #ffff0f;
		}

		/* Table Footer */
		.tabla_datos tfoot th {
			background-color: #e5f5ff;
			text-align: right;
		}
		.tabla_datos tfoot th:first-child {
			text-align: left;
		}
		.tabla_datos tbody td:empty
		{
			background-color: #ffcccc;
		}

		@media screen and (max-device-width : 480px) {
			.div2 {
				margin-left: auto!important;
			}
			.div3 {
				margin-left: auto!important;
			}
			.btnsolicitud {
				margin-bottom: 10px!important;
			}
		}
